body {
  background-color: #323232;
}

input {
    margin: 0 auto;
    width: 70%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

footer {
  margin-top: 10px;
}

footer h6 a {
  color: green;
}

.App {
  max-width: 560px;
  width: 100%;
  margin: auto;
  font-family: monospace, Courier, sans-serif;
  color: white;
}
